body {
    font-family: 俐方體11號;
}

.container {
    width: 100%;
    /* height: 800px; */
    background-color: #94976C;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    padding:0 16px;
    margin: 28px;
    border-bottom: #3C3B3B 5px dashed;
}

.year {
    font-size: 64px;
    color: #3C3B3B;
    text-align: center;
}

.main {
    width: 100%;
    background-color: #E29D52;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.answer {
    width: 284px;
    height: 36px;
    background-color: #CDCEBE;
    border: 2px solid #76706F;
    border-radius: 8px;
    font-size: 16px;
    color: #9B9594;
    padding-left: 8px;
    margin-top: 48px;
    line-height: 18px;
    box-shadow: 5px 4px 4px 0px rgba(79, 76, 76, 0.25);

}
.confirm {
    width: 95px;
    background-color: #A16751;
    border: 1px solid #7D3D25;
    border-radius: 8px;
    font-size: 24px;
    color: #fff;
    margin: 24px 0 48px 0;
    font-size: 20px;
    box-shadow: 5px 4px 4px 0px rgba(36, 34, 34, 0.25);

}

.show{
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    width: 85%;
    background-color: #969B51;
    border: 2px solid #726060;
    border-radius: 10px 10px 0 0;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
}
.content{
    width: 85%;
    height: 280px;
    background-color: #B5C378;
    border: 2px solid #726060;
    border-top: 0;
    padding: 10px;
    font-size: 15px;
    line-height: 1.2;
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: center;
}

.icon{
    width: 80%;
    margin: 20px auto 40px auto;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-wrap: wrap;
}
.box{
    width: 36px;
    height: 36px;
    background-color: #C8C0B4;
    border: 2px solid #726060;
    border-radius: 4px;
    margin: 8px 8px 0 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width: 32px;
}